Repository VicSolWang/eslint-config-wzx-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: update commitlint config
  .commitlintrc.json
Due: prettier --write

feat: add ignore files for eslint and prettier
  .eslintignore
  .prettierignore
  .prettierrc
  .prettierrc.json
Due: prettier --write

feat: update config for eslint and gitignore
  .editorconfig
  .eslintrc.js
  .gitignore
Due: prettier --write, eslint --fix

feat: update package.json including rewriting script and updating prettier to v7, etc
  .huskyrc.json
  index.js
  package.json
Due: prettier --write, eslint --fix

feat: add tsconfig.json
  tsconfig.json
Due: prettier --write

feat: modify test
  test.js
Due: prettier --write, eslint --fix

feat: rewrite eslint config
  src/config.js
  src/rule.json
Due: prettier --write, eslint --fix

feat: update README.md
  README.md
Due: none

fix: update package.json
  package.json
Due: prettier --write

chore: modify ignore
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore: add npm ignore config
  .npmignore
Due: none

chore: change trvias ci to github actions and add release config
  .github/workflows/test-release.yml
  .releaserc.json
  .travis.yml
Due: prettier --write

test: refactor test
  ava.config.js
  test.js
  test/example/rule.js
  test/example/type.ts
  test/test.js
Due: prettier --write, eslint --fix

feat: update package and README.md
  README.md
  package.json
Due: prettier --write

chore(release): 0.3.0 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  32726afa8d8d36fd4791f613a6116be938352848
Due: none

fix: modify test
  test/example/rule.jsx
Due: none

fix: modify test
  test/test.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c3a00b1e2749e7bd58a0e87dd69fe3e8a4344b41
Due: none

chore(release): 0.3.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

feat: add eslint-config-wzx and rewrite config based on wzx
  .eslintrc.js
  package.json
  src/config.js
Due: prettier --write, eslint --fix

chore(release): 0.4.0 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  08160d429b60d1e0c016e8cc8e097d515eafb2ac
Due: none

fix: update README.md
  README.md
  package.json
Due: prettier --write

chore(release): 0.4.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  06160a898121fd7a421169c4087a73b8e7323e02
Due: none

fix: update ignore config
  .npmignore
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e7027b7e28655a15b2ba800a06cb3ed297842f3c
Due: none

chore(release): 0.4.2 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.json)
  eslint --fix: any of: *.js
